:root {
    --jumbotron-padding-y: 15rem;
  }

body {
	background-color: #232323;
    font-family: "Montserrat", "Avenir";
}

h1 {
	color: white;
	line-height: 1.8;
    text-align: center;
	font-weight: normal;
}

.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #232323; 
}

.btnContainer {
    width: 100%;
    margin: 0;  
    padding: 20px 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;  
}

.album {
    background-color: #232323; 
}
